.sticky {
    position: fixed !important;
    width: 100%;
    z-index:9999;
}
.greetings img{
    border-radius: 50%;
    border: 2px dotted white;
    
}
.greetings{
text-align: center;
margin-top: 0 !important;
padding-bottom: 10px;
color: whitesmoke;
font-size: 130%;
font-family:Ubuntu, serif;
background: linear-gradient(0.1turn, #92919A, #a6a6a6, #d9d9d9);
    
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.webtitle {
text-align: right;
padding-bottom: 10%;
font-size: 130%;
color: white;

}

.indexcontainer{
    padding:10% 4% 3% 10%;
    animation: fadein 2s;
    border-bottom: 3px dashed
}
.indexcontainer h2{
    font-family: ubuntu;
    border-left: 6px solid red;
}


.arrow i:hover{
   transform:rotate(45deg);
  transition: all 0.6s;
    
}




.register{
text-align: center;
justify-content: center;
display: inline-block;
width: 100%;

padding: 0 20px 40px 20px;

}

input[type=submit]{
text-align: center;
margin-top: 5px;
padding: 5px auto 5px auto;
font-size: 130%;
border-radius: 14px;
font-family: Ubuntu;
}
[type=submit]:hover{
    transition: all 0.6s;
    transform: scale(1.1);  
}

.register h3 {
color: black;
font-family: Ubuntu;

margin:50px 70px 60px 70px;
border-radius: 5px;
}

#styletext {
color:black;
text-decoration: underline;
text-decoration-color: red;
font-size: 135%;
font-family: Ubuntu;
text-underline-position: under;
}
.postname #styletext{
padding-left: 60%;

}

#email {
    font-family:Ubuntu; 
    text-align: center;
}







#abouttext {
    font-family: "Alegreya Sans";
    font-size: 160%;
    padding:5% 26% 10% 26%;
    line-height: 40px;
    
    
    
}
#edutext{
    font-family: "Alegreya Sans";
    color: darkslategrey;
    font-size: 130%;
    padding:0 15% 0 15%;
    line-height: 25px;
    
}
#progtext{
    font-family: "Alegreya Sans";
    color: darkslategrey;
    font-size: 130%;
    padding:0 25% 0 25%;
    line-height: 30px;
}
#abouttext1 {
    font-style: italic;
    font-weight: 700;
    
}

#abouttext2 {
    color:tomato;
    
}

#abouttextlink {
    text-decoration: none;
    color:black;
    cursor: pointer;
    font-style: italic;
}

#mynameintext {
    font-family: ubuntu;
    font-size: 90%;
    text-decoration: underline;
    text-decoration-color: red;
}
.container img{
    width:100%;
    margin:4px;
    border-radius: 2px;
}

.postname {
    display: inline-block;
    background-image:linear-gradient(141deg, #333333, #666666 10%, #bfbfbf);
    padding:20px 0px 20px 40px;
    width: 100%;
    font-size: 3em;
    color: white;
    font-family: "the_woodlandsregular";
    
    
}
    

img:hover{
    transform: scale(1.1);
    transition: all 0.6s;
}
.describe {
    font-family: "Alegreya Sans";
    font-size: 160%;
    
}
#styletext p{
    text-align: right;
}

.fuckit input{
   background-color: black!important;
    
    
}

#middletext {
    text-align: left;
    font-family: "Alegreya Sans";
    font-size: 24px;
    padding: 0 15% 0 15%;
    margin: 50px 0;
}
.container .row{
    margin: 20px 0 0 20px;
    color: black;
    font-size: 90%;
    text-align:justify;
    margin: 40px;
}
#sign{
margin-top: 20%;
padding-right: 10%;
color:black;
text-align: right;
text-decoration: underline;
text-decoration-color: red;
font-size: 135%;
font-family: Ubuntu;
text-underline-position: under;
}


.fuckit {
   text-align: center;
}




.mc-field-group {
    text-align: center !important;
}










#aboutavatar{
    padding: 10px;
    
}
#avatar2 {
    width: 60%;
    height: 90%;
    border-radius: 50%;
    margin: 5%;
}



#najapicture {
    width: 100%;
    height: 100%;
}
#najapicture:hover{
    transform:none;
}







.subtittle {
    margin-left: 10%;
    font-size: 120%;
}

#code {
    margin: 0 20%;
    padding: 5px;
    font-size: 90%;
    font-family: sans-serif;
    background-color: #001a33;
    color: whitesmoke;
    
}
